@import 'carbon-components/scss/globals/scss/styles.scss';

html {
    font-size: 17px;
}
@media (max-width: 900px) {
    html {
        font-size: 15px;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}

.ibmovies {
    &__main-container {
        h1 {
            font-weight: 700;
            text-align: center;
            margin: 2rem auto;
            text-transform: capitalize;
        }
        h2 {
            font-weight: 700;
        }
    }
}
.dark-theme {
    background: #161616;
    color: #c1c1c1;
    h1,
    h2 {
        opacity: 0.8;
    }
}
