@import 'carbon-components/scss/globals/scss/styles.scss';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

html {
    font-size: 17px;
}
@media (max-width: 900px) {
    html {
        font-size: 15px;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.ibmovies {
    &__main-container {
        h1 {
            font-weight: 700;
            text-align: center;
            margin: 1rem auto;
            text-transform: capitalize;
        }
        h2 {
            font-weight: 700;
        }
    }
}
